@import '../static/font/iconfont.css'
@import 'mixin.styl'
body
  background main-color
ul,li
  list-style: none
  padding:0
.header
  height 100px
  width 100%
  background-color #000
  position:relative
  #canvas
    position:absolute
    top:0
    left: 50%
    right: 0
    bottom:0
    transform: translateX(-50%)
  .nav-box
    width 1180px
    margin 0 auto
    position:relative
  .nav-bar
    height 40px
    line-height 40px
    font-size 0
    text-align center
    padding-top 30px
    .nav-bar-item
      font-size 16px
      color #fff
      display inline-block
      height:40px
      width:150px
      position: relative
      cursor pointer
      .item-rect
        fill: transparent
        stroke-dasharray: 140 540
        stroke-dashoffset: -474
        stroke-width: 8px
        stroke: #19f6e8
      &:hover
        .item-rect
          -webkit-animation: 0.5s draw-nav-item linear forwards;
          animation: 0.5s draw-nav-item 0%  linear forwards;
      .item-text
        width:100%
        position:absolute
        left:50%
        top:50%
        transform: translate3d(-50%,-50%,0)
  .search-box
    height:40px
    width: 200px
    line-height:40px
    position: absolute
    right:10px
    top:30px
    color:#8492a6
    font-size:14px
    input
      width: 100%
      border: none;
      height:20px
      background: none
      outline:none
      border-bottom:1px solid #8492a6
      padding: 0 12px 0 2px
      color:#8492a6
      box-sizing: border-box
    .icon-search
      position:absolute
      right:0px
      cursor: pointer
      &:hover
        color: #fff
.main-container
  width 1180px
  margin 20px auto 30px
  display flex
  .left-content
    flex 1
    background-color #fff
    padding 30px 20px
    .article-item
      border-bottom 1px dashed #8492A6
      position relative
      margin-bottom 20px
      .article-title
        font-size 24px
        font-weight 700
        border-left 5px solid header-color
        height 40px
        line-height 40px 
        padding-left 30px
        margin:0
      .top-status
        font-size 12px
        padding-bottom:10px
        margin 10px 0
        border-bottom:1px dashed #8492A6
        color #99A9BF
        span
          margin-right:20px
      .article-abstract
        font-size 16px
        line-height 24px
      .article-footer
        height 30px
        margin-top 20px
        .label-box
          height 16px
          font-size 0
          .iconfont
            color #ccc
            display inline-block
            padding 0 10px 0 0
            line-height 16px
          .label-item
            display: inline-block
            color #ccc
            font-size 12px
            line-height 16px
            margin-right:10px
            cursor: pointer
            &:hover
              color:#29B4F0
        .read-total
          position absolute
          right 20px
          bottom 15px
          background-color header-color
          border-radius(4px)
          padding 8px 15px
          color #fff
          cursor pointer
  .right-side
    flex 0 0 300px
    margin-left 30px
    .login-box
      height 300px
      background-color #fff
      padding 20px
      box-sizing border-box
      .username,.password
        font-size 0 
        margin-bottom 15px
        input
          height 30px
          border-radius(4px)
          border 1px solid main-color
          padding 0 10px
          vertical-align middle
          margin-left 15px
          outline none
          background-color: #fff
          width:195px
          box-sizing:border-box
          display: inline-block
          font-size:14px
          &:focus
            border 1px solid header-color
        label
          display inline-block
          font-size 16px
          color #475669
          height 30px
          width 50px
          line-height 30px
          vertical-align middle
      .login-btn
        background-color header-color
        height 30px
        border-radius(4px)
        line-height 30px
        text-align center
        color #fff
        cursor pointer
        font-size 14px
        margin-bottom 20px
      .lose-password
        font-size: 12px
        text-align: right
        cursor: pointer
        color: header-color
        margin-bottom: 20px
      .quick-login
        display flex
        .line
          border-bottom 1px solid #475669
          position relative
          flex 1
          top -6px
        .text
          display inline-block
          padding 0 10px
          color #475669
          font-size 14px
      .quick-login-icon
        margin-top: 20px
        font-size: 0
        .iconfont
          display: inline-block
          font-size: 40px
          color: header-color
          margin-right: (100px/4)
          cursor: pointer
          &:last-child
            margin-right: 0
    .tag-box
      height 300px
      background-color #fff
      margin-top:20px
    .hot-article
      background-color #fff
      margin-top:20px
      padding: 20px
      .title
        font-size: 16px
        line-height:32px
        border-bottom: 1px dashed #8492A6
      .hot-article-list
        font-size:16px
        padding:8px 2px
        cursor: pointer
        .list-link
          display: block
          width:170px
          color:#8492A6
          overflow: hidden
          text-overflow: ellipsis
          white-space: nowrap;
          font-size:14px
          float: left
          text-decoration: none
          &:hover
            color:#20a0ff
        .read-amount
          float: right
          width: 60px
          font-size:12px
          color: #888
          text-align: right
          overflow: hidden
          text-overflow: ellipsis
          white-space: nowrap;
          .iconfont
            font-size:12px
            margin-right:4px
            color: #888
.footer
  height 80px
  background #475669
  font-size 16px
  color #fff
  text-align center
  line-height 80px
.tool-bar
  position: fixed
  right: 20px
  width: 40px
  bottom: 100px
  text-align: center
  &.top
    bottom: 200px
    opacity: 0
    transition: 0.5s all cubic-bezier(0.18, 0.89, 0.32, 1.28);
  .iconfont
    display: block
    width: 40px
    height: 40px
    line-height: 40px
    color: #20a0ff
    font-size: 40px
    cursor: pointer
.list-container
  width: 850px
  background-color: #fff
  box-sizing: border-box
  .article-list-content-item
    font-size:14px
    color:#333
    height:21px
    line-height:21px
    padding:8px 0
    border-bottom:1px dashed #8492A6
    .title-text
      float:left
      cursor: pointer
      &:hover
        color:#20a0ff
    .item-info
      float: right
      font-size: 12px
      color:#ccc
      span
        margin-left:10px


    