@import '../stylesheets/normalize.css'
@import 'mixin.styl'
body
  background: #ffffff
  overflow-y: scroll
html,body
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  text-rendering: optimizeLegibility
  word-break: break-word;
  color: #363636;
ul
  list-style: none
  padding:0
.CodeMirror, .CodeMirror-scroll {
	min-height: 100px;
}
.mask
  position: fixed;
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 300
  display: none
  background-color: rgba(0,0,0,0.4)
.header
  height 100px
  width 100%
  background-color #000
  position:relative
  #canvas
    position:absolute
    top:0
    left: 50%
    right: 0
    bottom:0
    transform: translateX(-50%)
  .nav-box
    width 1180px
    margin 0 auto
    height: 100%
    position:relative
    .motto
      position: absolute
      color: #fff
      left: 170px
      bottom: 15px
      font-size: 20px
      z-index 1000
  .nav-bar
    height 40px
    line-height 40px
    margin: 0
    text-align center
    top: 50%
    transform: translateY(-50%)
    position: absolute
    right: 180px
    display:flex
    .nav-bar-item
      color #fff
      display inline-block
      height:40px
      flex: 1
      position: relative
      cursor pointer
      .item-rect
        fill: transparent
        stroke-dasharray: 100,600
        stroke-dashoffset: -215
        stroke-width: 6px
        stroke: #19f6e8
        transition: all 0.5s linear
      &:hover
        .item-rect
          stroke-dasharray: 400
          stroke-dashoffset: 0
          stroke-width: 2px
      .item-text
        width:100%
        position:absolute
        left:50%
        top:50%
        color:#fff
        text-decoration: none
        transform: translate3d(-50%,-50%,0)
  .icon-menu
    color:#fff
    position: absolute
    right: 10px
    top: 50%
    border: 4px solid transparent
    transform: translateY(-50%)
    display: none
  .collapse
    display:none
    position: absolute
    top: 60px
    background: #20a0ff
    z-index: 1000
    width: 100%
    box-sizing: border-box
    span
      display:block
      line-height: 40px
      padding: 0 20px
      box-sizing: border-box
      a
        color: #fff
        text-decoration: none
  .right-box
    display: flex
    position: absolute
    right:10px
    top:30px
    height:40px
    color:#fff
    line-height:40px
    width:150px
    span
      text-align: center
      cursor: pointer
      a 
        color: #ffffff
        text-decoration: none
        display: block
      &:first-child
        flex: 1
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap
      &:last-child
        flex: 0 0 50px
  .logo
    width:150px
    height:90px
    position:absolute
    left:0
    svg
      height:100%
      width:100%
      path 
        stroke: #00ffff;
        stroke-width: 3px;
        animation: offset 5s linear forwards;
        stroke-dasharray: 900px;
        stroke-dashoffset: 900px;
.wrap
  width: 100%
  background: #f4f5f5;
  padding: 20px 0
.main-container
  width 1180px
  overflow: hidden
  margin: 0 auto
  .left-content
    width:850px
    float: left
    overflow: hidden
    background-color: #fff
    animation: ScaleUp 0.5s ease-in-out forwards     
    .article-list
      padding:20px
      margin:0
      .article-item
        border-bottom 1px dashed #8492A6
        position relative
        margin-bottom 20px
        .article-title
          color: #20a0ff
          text-decoration: none
          display: block
          h2
            margin:0
            font-size 20px
            font-weight 600
            line-height 30px 
        .top-status
          font-size 12px
          padding-bottom:10px
          margin 10px 0
          border-bottom:1px dashed #8492A6
          color #99A9BF
          span
            margin-right:20px
        .article-abstract
          font-size 16px
          line-height 24px
          background: -webkit-gradient(linear,0 top,0 center,from(rgba(255,255,255,0)),to(#fff))
        .article-footer
          height 30px
          margin-top 20px
          .label-box
            height 16px
            font-size 0
            .iconfont
              color #ccc
              display inline-block
              padding 0 10px 0 0
              line-height 16px
            .label-item
              display: inline-block
              color #ccc
              font-size 12px
              line-height 16px
              margin-right:10px
              cursor: pointer
              text-decoration: none
              &:hover
                color:#20a0ff
          
          .read-total
            position absolute
            right 20px
            bottom 15px
            border:1px solid #20a0ff
            color: #20a0ff
            border-radius(4px)
            text-decoration:none
            padding 8px 15px
            cursor pointer
            transition: all 0.5s
            &:hover
              background: #20a0ff
              color: #fff;
    .pagination
      height:50px
      border-top: 1px solid #d7d7d7
      border-bottom: 1px solid #d7d7d7
      line-height:50px
      margin: 0 20px 40px
      a
        color: #20A0FF
        text-decoration: none
        &.prev-page
          float: left
        &.next-page
          float: right
        &:hover
          text-decoration: underline
  .right-side
    float: left
    width:300px
    margin-left 30px
    animation: bounceInUp 1s linear forwards
    .tag-box
      height 300px
      background-color #fff
    .hot-article
      background-color #fff
      margin-top:20px
      padding: 20px
      .title
        font-size: 14px
        line-height:32px
        margin:0
        border-bottom: 1px dashed #8492A6
      .hot-article-list
        font-size:16px
        padding:8px 2px
        cursor: pointer
        margin:0
        .hot-article-list-item
          line-height:24px
        .list-link
          display: block
          width:170px
          color: #333
          overflow: hidden
          text-overflow: ellipsis
          white-space: nowrap;
          font-size:14px
          float: left
          text-decoration: none
          transition: all 0.5s
          &:hover
            color:#20a0ff
            transform: translateX(10px)
        .read-amount
          float: right
          width: 60px
          font-size:12px
          color: #c2c2c2
          text-align: right
          overflow: hidden
          text-overflow: ellipsis
          white-space: nowrap;
          .iconfont
            font-size:14px
            margin-right:4px
            color: #888
.footer
  height 200px
  background #fff
  font-size 16px
  width: 100%
  .content
    width: 1180px
    height: 100%
    margin: 0 auto
    padding: 20px 0
    box-sizing: border-box
  .left
    width: 50%
    display:inline-block
    a
      display: inline-block
      width: 150px
      margin-right: 20px
      background-color: #eee
      padding: 10px 15px;
      border-radius: 4px;
      height: 98px
      box-sizing: border-box
      float: left;
      img
        display:block
        width: 100%
    .logo-text
      font-size: 30px
      line-height: 1;
      margin: 0px 0 30px
      padding-top: 10px
    .motto
      font-size: 16px
  .right
    display: inline-block
    width: 50%
    .contact
      text-align: right
      .iconfont
        font-size: 40px
        color: #bbb
        margin: 0 20px
        transition: all 0.5s
        display inline-block
        &:hover
          color:#20a0ff
          transform: scale(1.2)
          transform-origin: center center
          cursor: pointer
.tool-bar
  position: fixed
  right: 20px
  width: 40px
  bottom: 100px
  text-align: center
  z-index: 2000
  &.top
    bottom: 200px
    opacity: 0
    transition: 0.5s all cubic-bezier(0.18, 0.89, 0.32, 1.28);
  .iconfont
    display: block
    width: 40px
    height: 40px
    line-height: 40px
    color: #20a0ff
    font-size: 40px
    cursor: pointer
    display: none;
.list-container
  width: 850px
  background-color: #fff
  box-sizing: border-box
  .title
    margin:0
    font-size:16px
    font-weight:normal
    padding:15px 20px 
    .tag
      float: right
      font-size: 14px;
      color: #90979c;
      .tag_inner
        color:#20a0ff
  .article-list-content
    margin:0
  .article-list-content-item
    border-bottom: 1px solid rgba(178,186,194,.15)
    padding:15px 20px
    font-size:14px
    color:#2e3135
    cursor: pointer
    .article-list-content-item-title
      margin:0 0 15px
    &:first-child
      border-top: 1px solid rgba(178,186,194,.15)
    &:hover
      background-color: rgba(0,0,0,.01)
    .title-text
      font-size:14px
      font-weight: 600
      cursor: pointer
      color:#2e3135
      text-decoration:none
      &:hover
        text-decoration: underline
    .item-info
      font-size: 12px
      color:#b2bac2
      height:20px
      line-height: 20px
      span
        display: inline-block
        box-sizing: border-box
        border:1px solid #edeeef
        padding: 0 6px
        font-weight: normal
        &:first-child
          border-top-left-radius: 2px
          border-bottom-left-radius: 2px
        &:last-child
          border-left: none
          border-top-right-radius: 2px
          border-bottom-right-radius: 2px
      .iconfont
        font-size:14px
        text-align:center
        display:inline-block
        margin-right:5px
.notification
  position: fixed
  top: 20px
  left: 50%
  transform: translateX(-50%)
  width: 350px
  box-sizing: border-box
  padding: 15px
  font-size: 16px
  background: #f2fae3
  color: #659f13
  border:1px solid  rgba(101,159,19,.3)
  border-radius: 4px
  cursor: pointer
  z-index: 10000
  animation: fadeInDown 1s forwards ease-in-out,fadeInUp 0.5s forwards linear 4s
  &:hover
    .content
      .iconfont
        visibility: visible
        opacity 0.3
  .iconfont
    font-size: 30px
    position: absolute
    transform: translate3d(0,-50%,0)
    top: 50%
  &.success
    background: #f2fae3
    color: #659f13
    border: 1px solid rgba(101,159,19,.3)
  &.danger
    background: #fff1f0
    color: #d85030
    border:1px solid rgba(216,80,48,.3);
  .content
    margin: 0
    line-height: 22px
    position: relative
    padding: 0 30px 0 40px
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden
    .iconfont
      font-size: 20px
      position: absolute
      right: 0
      font-weight: bold
      visibility:hidden
      opacity: 0
      transform: all 0.5s
      &:hover
        opacity: 0.8

