@import '../static/font/iconfont.css'
@import 'mixin.styl'
body
  background-color: #f4f5f5
html,body
  font-family:-apple-system,PingFang SC,Hiragino Sans GB,Arial,Microsoft YaHei,Helvetica Neue,sans-serif;
  text-rendering: optimizeLegibility
  word-break: break-word;
ul
  list-style: none
  padding:0
.CodeMirror, .CodeMirror-scroll {
	min-height: 100px;
}
.mask
  position: fixed;
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 300
  display: none
  background-color: rgba(0,0,0,0.4)
.message-box
  height:40px
  background-color:#fff
  border-radius: 2px
  min-width:250px
  line-height:40px
  position: fixed
  top:-50px
  left:50%
  transform: translate3d(-50%,0,0)
  font-size:0
  transition: top 0.3s linear
  z-index: 350
  overflow: hidden
  color:#8391a5
  box-sizing: border-box
  display: flex
  box-shadow: 0 2px 4px rgba(0,0,0,.12), 0 0 6px rgba(0,0,0,.04);
  &.show
    top:20px
  span
    font-size:14px
    display: inline-block
  .iconfont
    flex: 0 0 40px
    text-align: center;
    line-height:40px
    &.icon-success
      color: #ffffff
      background-color: #13CE66
    &.icon-info
      color: #ffffff
      background: #20A0FF
    &.icon-fail
      color:#fff
      background-color: #FF4949
  .content
    flex: 1
    padding-left:10px
.sign-box
  position: fixed
  top:40%;
  left:50%;
  transform:translate3d(-50%,-50%,0);
  z-index:400
  opacity: 0
  visibility: hidden
  transition: all  0.3s linear
  &.show
    visibility: visible
    top:50%
    opacity: 1
.signin-box,.signup-box
  display: none
  background-color #fff
  padding 20px
  box-sizing border-box
  width:320px
  border-radius: 2px;
  .title
    text-align: center
    margin: 10px 0 10px
    font-size: 20px
    font-weight: 600
  input
    height 40px
    border-radius(2px)
    border 1px solid main-color
    padding 0 10px
    vertical-align middle
    outline none
    background-color: #fff
    width:100%
    margin-bottom:15px
    box-sizing:border-box
    overflow: hidden;
    display: inline-block
    font-size:14px
    &:focus
      border 1px solid header-color
  .signin-btn,.signup-btn
    background-color header-color
    height 40px
    border-radius(2px)
    line-height 40px
    text-align center
    color #fff
    cursor pointer
    font-size 14px
    margin 5px 0 15px
  .prompt-box
    font-size: 14px
    margin-bottom: 10px
    color:#8b9196
    .lose-password
      cursor: pointer
      color: header-color
      float: right
    .sign-up
      cursor: pointer
      color: header-color
      margin-left:10px
    .sign-in
      display: block;
      cursor: pointer
      color: header-color
      text-align: center
  .quick-login
    display flex
    .line
      border-bottom 1px solid #475669
      position relative
      flex 1
      top -6px
    .text
      display inline-block
      padding 0 10px
      color #475669
      font-size 14px
  .quick-login-icon
    margin-top: 20px
    display: flex;
    .iconfont
      flex: 1;
      font-size: 40px
      color: header-color
      margin: 0 10px;
      cursor: pointer
.header
  height 100px
  width 100%
  background-color #000
  position:relative
  #canvas
    position:absolute
    top:0
    left: 50%
    right: 0
    bottom:0
    transform: translateX(-50%)
  .nav-box
    width 1180px
    margin 0 auto
    position:relative
  .nav-bar
    height 40px
    line-height 40px
    font-size 0
    text-align center
    padding-top 30px
    position: absolute
    right: 180px
    .nav-bar-item
      font-size 16px
      color #fff
      display inline-block
      height:40px
      width:150px
      position: relative
      cursor pointer
      .item-rect
        fill: transparent
        stroke-dasharray: 100,600
        stroke-dashoffset: -215
        stroke-width: 6px
        stroke: #19f6e8
        transition: all 0.5s linear
      &:hover
        .item-rect
          stroke-dasharray: 400
          stroke-dashoffset: 0
          stroke-width: 2px
      .item-text
        width:100%
        position:absolute
        left:50%
        top:50%
        color:#fff
        text-decoration: none
        transform: translate3d(-50%,-50%,0)
  .right-box
    display: flex
    position: absolute
    right:10px
    top:30px
    height:40px
    color:#fff
    line-height:40px
    width:100px
    span
      flex: 1
      text-align: center
      cursor: pointer
  .search-box
    height:40px
    width: 150px
    line-height:40px
    position: absolute
    right:130px
    top:40px
    color:#8492a6
    font-size:14px
    input
      width: 100%
      border: none;
      height:20px
      background: none
      outline:none
      border-bottom:1px solid #8492a6
      padding: 0 12px 0 2px
      color:#8492a6
      box-sizing: border-box
      &:focus
        color:#fff
        text-decoration:none
    .icon-search
      position:absolute
      right:0px
      cursor: pointer
      &:hover
        color: #fff
  .logo
    width:150px
    height:90px
    position:absolute
    left:0
    svg
      height:100%
      width:100%
      path 
        stroke: #00ffff;
        stroke-width: 3px;
        animation: offset 5s linear forwards;
        stroke-dasharray: 900px;
        stroke-dashoffset: 900px;
.main-container
  width 1180px
  margin 20px auto 30px
  overflow: hidden
  .left-content
    width:850px
    float: left
    overflow: hidden
    background-color #fff
    .article-page
      padding:15px 20px 15px
      .article-header
        .article-title
          font-size:20px
          margin-top:10px
          font-weight:600
          margin-bottom:10px
        .article-status
          font-size 12px
          padding-bottom:10px
          margin: 0
          border-bottom:1px dashed #8492A6
          color #99A9BF
          span
            margin-right:20px  
      .article-footer
        margin-top:40px
        color: #404040
        .footer-page
          padding:15px 0
          border-top:1px solid #dddddd
          border-bottom: 1px solid #dddddd
          font-size:0
          a
            text-decoration:none
            color:#29B4F0
            font-size:16px
            &.prev
              display:inline-block
              width:50%
              text-overflow: ellipsis
              overflow: hidden
              white-space: nowrap
            &.next
              display:inline-block
              width:50%
              text-align: right
              text-overflow: ellipsis
              overflow: hidden
              white-space: nowrap;
              
    .article-list
      padding:20px
      margin:0
      .article-item
        border-bottom 1px dashed #8492A6
        position relative
        margin-bottom 20px
        .article-title
          font-size 20px
          font-weight 600
          border-left 5px solid header-color
          height 30px
          line-height 30px 
          padding-left 20px
          margin:0
        .top-status
          font-size 12px
          padding-bottom:10px
          margin 10px 0
          border-bottom:1px dashed #8492A6
          color #99A9BF
          span
            margin-right:20px
        .article-abstract
          font-size 16px
          line-height 24px
          background: -webkit-gradient(linear,0 top,0 center,from(rgba(255,255,255,0)),to(#fff))
        .article-footer
          height 30px
          margin-top 20px
          .label-box
            height 16px
            font-size 0
            .iconfont
              color #ccc
              display inline-block
              padding 0 10px 0 0
              line-height 16px
            .label-item
              display: inline-block
              color #ccc
              font-size 12px
              line-height 16px
              margin-right:10px
              cursor: pointer
              text-decoration: none
              &:hover
                color:#29B4F0
          
          .read-total
            position absolute
            right 20px
            bottom 15px
            background-color header-color
            border-radius(4px)
            text-decoration:none
            padding 8px 15px
            color #fff
            cursor pointer
  .right-side
    float: left
    width:300px
    margin-left 30px
    .tag-box
      height 300px
      background-color #fff
    .hot-article
      background-color #fff
      margin-top:20px
      padding: 20px
      .title
        font-size: 14px
        line-height:32px
        margin:0
        border-bottom: 1px dashed #8492A6
      .hot-article-list
        font-size:16px
        padding:8px 2px
        cursor: pointer
        margin:0
        .hot-article-list-item
          line-height:24px
        .list-link
          display: block
          width:170px
          color: #333
          overflow: hidden
          text-overflow: ellipsis
          white-space: nowrap;
          font-size:14px
          float: left
          text-decoration: none
          &:hover
            color:#20a0ff
        .read-amount
          float: right
          width: 60px
          font-size:12px
          color: #c2c2c2
          text-align: right
          overflow: hidden
          text-overflow: ellipsis
          white-space: nowrap;
          .iconfont
            font-size:14px
            margin-right:4px
            color: #888
.footer
  height 80px
  background #475669
  font-size 16px
  color #fff
  text-align center
  line-height 80px
.tool-bar
  position: fixed
  right: 20px
  width: 40px
  bottom: 100px
  text-align: center
  &.top
    bottom: 200px
    opacity: 0
    transition: 0.5s all cubic-bezier(0.18, 0.89, 0.32, 1.28);
  .iconfont
    display: block
    width: 40px
    height: 40px
    line-height: 40px
    color: #20a0ff
    font-size: 40px
    cursor: pointer
    display: none;
.list-container
  width: 850px
  background-color: #fff
  box-sizing: border-box
  .title
    margin:0
    font-size:16px
    font-weight:normal
    padding:15px 20px 
    .tag
      float: right
      font-size: 14px;
      color: #90979c;
      .tag_inner
        color:#20a0ff
  .article-list-content
    margin:0
  .article-list-content-item
    border-bottom: 1px solid rgba(178,186,194,.15)
    padding:15px 20px
    font-size:14px
    color:#2e3135
    cursor: pointer
    .article-list-content-item-title
      margin:0 0 15px
    &:first-child
      border-top: 1px solid rgba(178,186,194,.15)
    &:hover
      background-color: rgba(0,0,0,.01)
    .title-text
      font-size:14px
      font-weight: 600
      cursor: pointer
      color:#2e3135
      text-decoration:none
      &:hover
        text-decoration: underline
    .item-info
      font-size: 12px
      color:#b2bac2
      height:20px
      line-height: 20px
      span
        display: inline-block
        box-sizing: border-box
        border:1px solid #edeeef
        padding: 0 6px
        font-weight: normal
        &:first-child
          border-top-left-radius: 2px
          border-bottom-left-radius: 2px
        &:last-child
          border-left: none
          border-top-right-radius: 2px
          border-bottom-right-radius: 2px
      .iconfont
        font-size:14px
        text-align:center
        display:inline-block
        margin-right:5px

.comment-container
  background-color: #f4f5f5
  padding-top:30px;
  .comment-box
    background-color: #fff;
    border-top: 1px solid #d7d7d7
    margin-bottom:20px;
    padding: 15px
    .bottom-bar
      font-size:14px;
      height:32px;
      margin-top:20px;
      .submit-comment
        float: right;
        height: 32px;
        line-height: 32px
        padding: 0 15px
        border-radius: 4px
        border: 1px solid #20a0ff
        color: #20a0ff
        cursor: pointer
        background-color: #fff;
        outline: none;
        &:hover
          background-color: #20a0ff
          color: #fff
  .no-login
    height:40px;
    background: #fff;
    text-align: center;
    line-height: 40px
    margin-top:20px;
    font-size: 14px;
    span
      color: #20a0ff
      cursor: pointer
      text-decoration: underline
  .comment-list
    background-color: #fff;
    .comment-list-item
      display: flex
      overflow: hidden
      padding: 10px 15px 10px 0
      border-bottom: 1px solid #d7d7d7
      &:last-child
        border-bottom: none
      .avatar
        flex: 0 0 60px
        overflow: hidden
        text-align: center
        font-size:0
        img
          width:30px
          height:30px
          border-radius: 4px
          display: inline-block
      .content
        flex: 1
        .content-status
          font-size: 12px
          margin: 0
          line-height: 1
          margin:5px 0 2px
          .username
            font-weight: 600
            margin-right:10px
            color:#666
          .comment-time
            color:#20a0ff
        .content-center
          margin:5px 0
          line-height: 1.5
          p
            margin:0
        .bottom-content
          height:30px
          font-size: 14px
          line-height: 30px
          .reply,.delete
            float:left
            margin-right:20px
            cursor: pointer
            &:hover
              color: #20a0ff
          .like
            float: right
            .iconfont
              display: inline-block
              font-size:20px
              margin-right: 10px
              cursor: pointer
              color: #d7d7d7
