header-color = #20A0FF
main-color= #D3DCE6
border-radius(n)
  border-radius n
box-shadow(n)
  box-shadow 0 0 n #99A9BF
@keyframes background-fade
  0%
    background-color #13CE66
  50%
    background-color header-color
  100%
    background-color #13CE66