header-color = #20A0FF
main-color= #D3DCE6
border-radius(n)
  border-radius n
box-shadow(n)
  box-shadow 0 0 n #99A9BF
@keyframes draw-nav-item 
  0% 
    stroke-dasharray: 140 540
    stroke-dashoffset: -474
    stroke-width: 8px
  100% 
    stroke-dasharray: 760
    stroke-dashoffset: 0
    stroke-width: 2px