footer.footer
  .content
    .left.clearfix
      a(href="/")
        img(src="//ezblog.oss-cn-beijing.aliyuncs.com/image/logo.png", alt="网站logo")
      p.logo-text EzBlog
      span.motto 让编程改变世界
    .right
      .contact
        a(target="_blank",href="//shang.qq.com/wpa/qunwpa?idkey=1452b8fbee74cb446e460281c55e49f6a8c63f0998840de630932bcbbdace96d")
          span.iconfont.icon-qq
        a(target="_blank",href="//github.com/wd4219")
          span.iconfont.icon-github