header.header#header
    canvas#canvas
    .nav-box
      ul.nav-bar#nav-bar
        li.nav-bar-item 
          svg(height="40",width="150",xmlns="http://www.w3.org/2000/svg")
            rect(height="40",width="150" class="item-rect")
          a(href="/").item-text 首页
        li.nav-bar-item 
          svg(height="40",width="150",xmlns="http://www.w3.org/2000/svg")
            rect(height="40",width="150" class="item-rect")
          a(href="/list").item-text 文章列表
        li.nav-bar-item 
          svg(height="40",width="150",xmlns="http://www.w3.org/2000/svg")
            rect(height="40",width="150" class="item-rect")
          a(href="#").item-text 生活与电影
        li.nav-bar-item 
          svg(height="40",width="150",xmlns="http://www.w3.org/2000/svg")
            rect(height="40",width="150" class="item-rect")
          a(href="#").item-text 关于博主
      .search-box
          input(type="text", placeholder="关键字搜索",class="search-input")
          span.iconfont.icon-search
      .right-box
        span.top-sign-in 登录
        span.top-sign-up 注册
.sign-box
  .signin-box
    h2.title 登录
    .email-phone
      input(type="text", id="email-phone",placeholder="邮箱/手机",autocomplete="off")
    .password
      input(type="password", id="password",placeholder="密码（不少于6位）",autocomplete="off")
    .signin-btn 登录
    .prompt-box 没有账号
      span.sign-up 注册
      span.lose-password 忘记密码？
    .quick-login
      .line
      .text 快捷登录
      .line
    .quick-login-icon
      span.iconfont.icon-qq
      span.iconfont.icon-github
      span.iconfont.icon-weixin
      span.iconfont.icon-weibo
  .signup-box
    h2.title 注册
    .username
      input(type="text", id="username",placeholder="昵称",autocomplete="off")
    .email-phone
      input(type="text", id="email-phone",placeholder="邮箱/手机",autocomplete="off")
    .password
      input(type="password", id="password",placeholder="密码（不少于6位）",autocomplete="off")
    .signup-btn 注册
    .prompt-box
      span.sign-in 已有账号登录
    .quick-login
      .line
      .text 快捷登录
      .line
    .quick-login-icon
      span.iconfont.icon-qq
      span.iconfont.icon-github
      span.iconfont.icon-weixin
      span.iconfont.icon-weibo
.message-box
  span.iconfont
  span.content  
.mask