header.header#header
    canvas#canvas
    .nav-box
      ul.nav-bar#nav-bar
        li.nav-bar-item 
          svg(height="40",width="150",xmlns="http://www.w3.org/2000/svg")
            rect(height="40",width="150" class="item-rect")
          a(href="/").item-text 首页
        li.nav-bar-item 
          svg(height="40",width="150",xmlns="http://www.w3.org/2000/svg")
            rect(height="40",width="150" class="item-rect")
          a(href="/list").item-text 文章列表
        li.nav-bar-item 
          svg(height="40",width="150",xmlns="http://www.w3.org/2000/svg")
            rect(height="40",width="150" class="item-rect")
          a(href="#").item-text 生活与电影
        li.nav-bar-item 
          svg(height="40",width="150",xmlns="http://www.w3.org/2000/svg")
            rect(height="40",width="150" class="item-rect")
          a(href="#").item-text 关于博主
      .search-box
          input(type="text", placeholder="关键字搜索",class="search-input")
          span.iconfont.icon-search