header.header#header
    canvas#canvas
    .nav-box
      .motto 让编程改变世界
      ul.nav-bar#nav-bar
        li.nav-bar-item 
          svg(height="40",width="150",xmlns="http://www.w3.org/2000/svg")
            rect(height="40",width="150" class="item-rect")
          a(href="/").item-text 首页
        li.nav-bar-item 
          svg(height="40",width="150",xmlns="http://www.w3.org/2000/svg")
            rect(height="40",width="150" class="item-rect")
          a(href="/list").item-text 文章列表
        //- li.nav-bar-item 
        //-   svg(height="40",width="150",xmlns="http://www.w3.org/2000/svg")
        //-     rect(height="40",width="150" class="item-rect")
        //-   a(href="#").item-text 生活与电影
        //- li.nav-bar-item 
        //-   svg(height="40",width="150",xmlns="http://www.w3.org/2000/svg")
        //-     rect(height="40",width="150" class="item-rect")
        //-   a(href="#").item-text 关于博主
      .right-box
        if user && user.username
          span.top-username 
            a(href="/user/setting?id="+user._id) #{user.username}
          span.top-sign-out 
            a(href="/user/signout") 退出
        else
          span.top-sign-in
            a(href="/user/signin") 登录
          span.top-sign-up
            a(href="/user/signup") 注册
      a(class="logo",href="/")
        svg(xmlns="http://www.w3.org/2000/svg",preserveAspectRatio="none",viewBox="0,70,200,155")
          <path d="m 45.063921,164.42804 q -1.701792,1.44652 -3.999212,2.55269 -2.212331,1.10616 -4.76502,1.87197 -2.552689,0.76581 -5.190467,1.19125 -2.552689,0.42545 -4.935199,0.42545 -1.021075,0 -2.29742,-0.0851 -1.191255,-0.0851 -2.29742,-0.42545 -1.106165,-0.25526 -1.871972,-0.85089 -0.680717,-0.59563 -0.680717,-1.70179 0,-1.02108 0.425449,-1.53162 0.510537,-0.59562 1.106165,-0.85089 0.595627,-0.34036 1.021075,-0.51054 0.510538,-0.25527 0.510538,-0.59563 0,-0.42545 -0.425448,-0.42545 -0.425448,-0.0851 -0.850896,-0.0851 -2.29742,0 -4.084303,-0.0851 -1.701792,-0.17018 -2.807957,-0.59562 -1.106166,-0.42545 -1.616703,-1.36144 -0.595628,-0.93598 -0.595628,-2.4676 0,-1.6167 1.191255,-2.55269 1.106165,-1.02107 2.722868,-1.02107 1.701793,0 2.978137,0.76581 1.361434,0.7658 1.361434,1.70179 0,0.34036 -0.255269,0.51054 -0.255268,0.17017 -0.510537,0.17017 -0.510538,0 -1.191255,-0.51053 -1.021076,-0.51054 -1.786882,-0.68072 -0.680717,-0.17018 -1.191255,-0.17018 -1.021076,0 -1.531614,0.34036 -0.595627,0.25527 -0.850896,1.44652 0,0.59563 0.425448,1.02108 0.425448,0.42545 1.021076,0.68072 0.595627,0.25526 1.106165,0.42544 0.595627,0.0851 0.935986,0.0851 0.680717,0.0851 2.127241,0.0851 1.446523,0 2.893047,0.17018 0.935986,0.0851 1.531613,0.68072 0.680718,0.51054 0.680718,1.19125 0,0.51054 -0.510538,0.93599 -0.425448,0.42545 -1.021076,0.76581 -0.510538,0.25527 -1.021075,0.59562 -0.425449,0.25527 -0.425449,0.68072 0,0.68072 1.021076,1.10617 1.106165,0.34035 2.552689,0.59562 1.531613,0.17018 3.148316,0.25527 1.701793,0 2.893048,0 1.446523,0 3.318495,-0.17018 1.871972,-0.25527 3.829034,-0.68071 1.957061,-0.51054 3.829033,-1.27635 1.957061,-0.85089 3.573764,-2.12724 z" class="path1"  stroke-width="3" fill="none"/>
          <path d="m 80.221893,203.56927 q 0,1.44652 -0.255269,2.89305 -0.255269,1.44652 -0.935986,2.63777 -0.680717,1.19126 -1.871972,1.95707 -1.191255,0.7658 -2.978137,0.7658 -3.403585,0 -6.89226,-2.38251 -3.488675,-2.29742 -6.381722,-6.12645 -2.807958,-3.74394 -4.59484,-8.42387 -1.786882,-4.67993 -1.786882,-9.35986 0,-3.99922 1.701792,-6.80717 1.786883,-2.80796 4.67993,-5.19047 -3.829033,-1.87197 -8.423873,-2.29742 -0.510538,0.0851 -1.021076,0.0851 -0.510538,0.0851 -1.021076,0.0851 -0.680717,0 -1.446523,-0.25527 -0.765807,-0.17018 -0.765807,-0.93599 0,-0.34035 0.340359,-0.68071 0.340358,-0.34036 1.276344,-0.51054 0.850896,-0.0851 2.29742,-0.34036 1.446524,-0.34036 2.807958,-0.8509 1.361434,-0.59562 2.382509,-1.53161 1.021076,-0.93599 1.021076,-2.38251 0,-1.10616 -1.191255,-1.70179 -1.106165,-0.59563 -2.722868,-0.8509 -1.616703,-0.34036 -3.488675,-0.42545 -1.786882,-0.0851 -3.148316,-0.0851 -0.595628,0 -1.191255,0 -0.510538,0 -0.935986,0.0851 -1.446524,-0.17018 -1.446524,-0.51053 0,-0.25527 0.255269,-0.51054 0.425448,-0.59563 1.021076,-1.10617 0.595627,-0.51053 1.276344,-0.51053 3.743944,0 6.211543,0.51053 2.4676,0.51054 3.999213,1.27635 1.531613,0.7658 2.127241,1.70179 0.680717,0.93599 0.680717,1.70179 0,1.27635 -0.765807,2.29742 -0.765807,0.93599 -1.786882,1.61671 -0.935986,0.68071 -1.701793,1.10616 -0.765806,0.34036 -0.765806,0.59563 0,0.17018 0.340358,0.34036 3.658854,1.02107 7.062439,3.06322 2.807958,-2.12724 6.126454,-4.0843 3.318495,-2.04215 6.636991,-4.50975 l 0.510538,0.51054 q -3.233406,2.38251 -6.466812,4.42466 -3.233406,1.95706 -5.956274,4.16939 3.573764,2.29742 6.72208,5.53083 3.148317,3.2334 5.445737,7.14753 2.382509,3.99921 3.658854,8.50896 1.361434,4.50975 1.361434,9.35986 z m -1.786882,-0.59563 q 0,-3.74394 -1.106165,-7.91333 -1.021076,-4.1694 -3.148317,-8.16861 -2.127241,-3.91412 -5.275557,-7.31771 -3.063227,-3.40358 -7.062439,-5.61591 -2.467599,2.21233 -4.084302,4.76502 -1.531614,2.55269 -1.531614,5.87118 0,4.25448 1.446524,8.59405 1.531613,4.33958 3.999213,7.82825 2.467599,3.57376 5.615915,5.78609 3.233406,2.29742 6.636991,2.29742 2.38251,0 3.403586,-1.87197 1.106165,-1.78688 1.106165,-4.25448 z" class="path2"  stroke-width="3" fill="none"/>
          <path d="m 120.08373,160.93936 q 0,0.59563 -1.19126,1.10617 -1.10616,0.42545 -2.29742,0.42545 -1.36143,0 -3.57376,0 -2.12724,0 -4.33957,0 -2.21233,-0.0851 -3.99922,-0.0851 -1.70179,-0.0851 -2.12724,-0.0851 -0.51053,0 -0.85089,0.17018 -0.17018,0.0851 -0.17018,0.25527 0.34036,0.93598 0.34036,1.95706 0,2.89305 -2.807961,5.02029 -2.807958,2.12724 -8.253695,2.12724 -4.765019,0 -8.849321,-2.29742 -3.999213,-2.29742 -7.317708,-6.12646 -3.318496,-3.91412 -5.786095,-8.93441 -2.467599,-5.10538 -4.169392,-10.55111 -1.701793,-5.53083 -2.552689,-11.14674 -0.850896,-5.61592 -0.850896,-10.55112 0,-3.74394 0.510538,-6.89226 0.510537,-3.14831 1.531613,-5.44573 0.935986,-2.38251 2.467599,-3.65886 1.446524,-1.36143 3.488675,-1.36143 4.339571,0 7.658067,2.55269 3.403585,2.55269 5.701005,6.72208 2.29742,4.16939 3.488675,9.61513 1.191255,5.36064 1.191255,11.14674 0,3.91412 -0.595628,7.91333 -0.595627,3.91413 -1.786882,7.57298 -1.106165,3.65885 -2.893047,6.89226 -1.786883,3.14832 -4.169392,5.61592 3.148316,3.31849 6.80717,5.27555 3.743944,1.95706 8.083515,1.95706 3.658854,0 5.786095,-1.19125 2.212329,-1.27635 1.957059,-4.25448 l -0.0851,-1.02108 q -0.0851,-0.68071 -0.765804,-0.93598 -0.595627,-0.25527 -1.616703,-0.25527 H 96.42881 q -0.680717,0 -1.531613,0 -0.850897,-0.0851 -1.616703,-0.25527 -0.765807,-0.17018 -1.361434,-0.51054 -0.510538,-0.34036 -0.510538,-0.8509 0,-0.51053 0.340358,-0.85089 0.425449,-0.34036 1.021076,-0.51054 0.595627,-0.25527 1.191255,-0.34036 0.595627,-0.0851 1.021075,-0.0851 1.276345,0 2.29742,0.34036 1.106166,0.25527 1.531614,0.42545 0.255269,0.0851 0.425448,0.25527 0.170179,0.17018 0.510538,0.25527 0.425444,0.0851 1.106164,0.17018 0.68072,0.0851 1.95706,0.0851 1.36144,0 3.82904,0 2.55268,0 5.10537,0 2.63778,-0.0851 4.67993,-0.0851 2.12724,0 2.4676,0 1.19126,0 1.19126,0.42544 z M 85.196979,137.53972 q 0,-5.70101 -1.106165,-11.14675 -1.021076,-5.53082 -3.063227,-9.87039 -2.042151,-4.33957 -5.020288,-6.97735 -2.978137,-2.72287 -6.722081,-2.72287 -1.616703,0 -2.807958,1.02107 -1.191255,1.02108 -1.957061,2.89305 -0.765807,1.87197 -1.106165,4.42466 -0.425449,2.4676 -0.425449,5.53083 0,4.76502 0.935986,10.38093 0.935986,5.61592 2.722868,11.23184 1.786883,5.61591 4.424661,10.80638 2.637779,5.10538 6.126454,9.0195 2.042151,-1.87197 3.573764,-4.50975 1.531613,-2.72287 2.467599,-5.87119 1.021076,-3.2334 1.446524,-6.80717 0.510538,-3.65885 0.510538,-7.40279 z"  class="path3"  stroke-width="3" fill="none"/>
          <path d="m 131.9165,140.68803 q 0,6.5519 -2.29742,12.84854 -2.29742,6.21154 -7.82824,11.06165 1.87197,4.33957 3.06323,7.14753 1.27634,2.89304 1.44652,3.57376 0.25527,0.76581 0.25527,1.27635 0,1.19125 -0.8509,1.19125 -0.76581,0 -1.6167,-2.12724 -1.19126,-3.40359 -3.23341,-7.99843 -1.95706,-4.67992 -4.25448,-9.95548 -2.29742,-5.27556 -4.59484,-10.89147 -2.29742,-5.70101 -4.16939,-11.14675 -1.87197,-5.44573 -3.06323,-10.38093 -1.19125,-5.02029 -1.19125,-9.0195 0,-1.6167 0.25527,-3.82904 0.25527,-2.21233 1.10616,-4.25448 0.8509,-2.04215 2.4676,-3.48867 1.6167,-1.44653 4.25448,-1.53161 1.95706,-0.0851 4.25448,1.44652 2.29742,1.44652 4.50975,4.0843 2.21233,2.63778 4.25449,6.21154 2.12724,3.57377 3.74394,7.82825 1.6167,4.16939 2.55269,8.76423 0.93598,4.59484 0.93598,9.18968 z m -1.19125,0.51054 q 0,-6.63699 -2.04215,-13.1038 -1.95706,-6.46682 -4.9352,-11.57219 -2.97814,-5.10538 -6.46681,-8.16861 -3.48868,-3.14831 -6.46681,-3.14831 -1.87198,0 -3.06323,0.93598 -1.19126,0.8509 -1.78688,2.21233 -0.68072,1.36144 -0.93599,3.06323 -0.25527,1.70179 -0.25527,3.23341 0,2.21233 0.8509,5.701 0.76581,3.48868 2.12724,7.74316 1.27634,4.16939 3.06323,8.93441 1.70179,4.67993 3.57376,9.44495 1.78688,4.67993 3.65885,9.18968 1.78689,4.42466 3.40359,8.1686 5.02029,-4.76502 7.14753,-10.55111 2.12724,-5.87119 2.12724,-12.08273 z" class="path4"  stroke-width="3" fill="none"/>
          <path d="m 160.59702,164.42804 q -2.3825,2.04215 -5.02028,2.97814 -2.63778,0.93598 -5.02029,0.93598 -1.44653,0 -2.63778,-0.25527 -0.68072,1.10617 -2.04215,1.95706 -1.27635,0.93599 -3.74394,0.93599 -1.78689,0 -3.14832,-0.76581 -1.36144,-0.7658 -2.29742,-1.87197 -0.8509,-1.19125 -1.36144,-2.63778 -0.42544,-1.53161 -0.42544,-2.89304 0,-2.04216 0.93598,-3.48868 1.02108,-1.53161 3.14832,-1.53161 0.59563,0 1.19125,0.25527 0.59563,0.17018 0.59563,0.93598 0,0.17018 -0.17018,0.42545 -0.0851,0.17018 -0.68072,0.17018 -0.51053,-0.0851 -0.93598,-0.0851 -0.42545,-0.0851 -0.8509,-0.0851 -0.93598,0 -1.44652,0.68072 -0.42545,0.59563 -0.42545,1.53161 0,1.02108 0.51054,2.29742 0.51054,1.27635 1.36143,2.38251 0.93599,1.02108 2.29742,1.78688 1.36144,0.68072 2.97814,0.68072 2.29742,0 3.3185,-1.10617 -1.61671,-0.68071 -2.63778,-1.95706 -0.93599,-1.36143 -0.93599,-3.31849 0,-1.70179 0.42545,-2.38251 0.51054,-0.76581 1.19125,-0.76581 0.59563,0 1.27635,0.51054 0.68072,0.51054 1.19125,1.44652 0.59563,0.8509 0.93599,2.04215 0.34036,1.10617 0.34036,2.4676 0,0.68072 -0.0851,1.02108 1.19125,0.59563 2.97813,0.59563 1.7018,0 3.82904,-0.68072 2.12724,-0.76581 4.85011,-2.72287 z m -12.93362,0.76581 q 0,-1.44653 -0.42545,-2.72287 -0.42545,-1.36144 -1.6167,-1.36144 -0.8509,0 -0.8509,0.76581 0,0.8509 0.59563,2.21233 0.68072,1.27634 2.12724,2.21233 0.17018,-0.68072 0.17018,-1.10616 z" class="path5"  stroke-width="3" fill="none"/>
          <path d="m 199.29818,164.42804 q -1.44653,1.19125 -3.23341,2.21233 -1.70179,0.93599 -3.82903,1.53161 -2.04215,0.51054 -4.33957,1.02108 -2.29742,0.42545 -4.67993,0.85089 -2.38251,0.42545 -4.67993,1.02108 1.53161,4.9352 3.91412,10.6362 2.4676,5.7861 4.76502,11.23184 2.29742,5.44573 3.91412,9.87039 1.61671,4.42466 1.61671,6.72208 0,2.97814 -1.10617,4.76502 -1.10616,1.78688 -3.99921,1.78688 -2.29742,0 -4.85011,-1.6167 -2.4676,-1.6167 -5.02029,-4.25448 -2.4676,-2.55269 -4.76502,-5.87118 -2.21233,-3.23341 -3.91412,-6.637 -1.70179,-3.31849 -2.72287,-6.46681 -1.02108,-3.14831 -1.02108,-5.44573 0,-3.57377 0.8509,-6.21155 0.8509,-2.55269 2.38251,-4.33957 1.53161,-1.78688 3.57377,-2.89305 2.12724,-1.10616 4.50975,-1.87197 -0.25527,-0.7658 -0.51054,-1.53161 -0.17018,-0.76581 -0.34036,-1.53161 -0.0851,-0.34036 -0.51054,-0.34036 -0.17018,0.25527 -0.93598,0.7658 -0.68072,0.51054 -1.78689,1.10617 -1.10616,0.51054 -2.4676,0.93599 -1.27634,0.42544 -2.63777,0.42544 -3.82904,0 -5.53083,-1.87197 -1.70179,-1.95706 -1.70179,-4.33957 0,-2.38251 1.6167,-4.33957 1.6167,-2.04215 4.50975,-2.04215 1.70179,0 2.97814,0.42545 1.27634,0.42544 2.21233,1.02107 0.93598,0.59563 1.53161,1.27635 0.68072,0.59562 0.93599,1.02107 0.17018,0.17018 0.17018,0.59563 0,0.34036 -0.17018,0.68072 -0.0851,0.25527 -0.42545,0.25527 -0.17018,0 -0.59563,-0.25527 0,-0.0851 -0.0851,-0.0851 -0.51054,-0.34036 -1.27634,-0.8509 -0.68072,-0.51054 -1.61671,-1.02108 -0.85089,-0.51053 -1.87197,-0.85089 -0.93598,-0.34036 -1.95706,-0.34036 -2.4676,0 -3.57376,0.93599 -1.10617,0.85089 -1.10617,2.04215 0,0.93598 0.59563,1.95706 0.59563,1.02107 1.6167,1.87197 1.02108,0.8509 2.4676,1.44652 1.44652,0.51054 3.23341,0.51054 1.02107,0 2.12724,-0.25527 1.10616,-0.34036 2.04215,-0.93598 1.02107,-0.59563 1.6167,-1.53162 0.68072,-0.93598 0.68072,-2.12724 0,-0.0851 0,-0.25527 0,-0.25526 -0.0851,-1.10616 0,-0.76581 0.17018,-1.36144 0.17018,-0.68071 0.85089,-0.7658 0.59563,0 0.59563,0.85089 0,0.68072 -0.0851,1.10617 -0.0851,0.34036 -0.17018,0.59563 0,0.25527 -0.0851,0.51053 -0.0851,0.25527 -0.0851,0.68072 0,0.68072 0.0851,1.36144 0.0851,0.68071 0.25527,1.36143 0.17018,0.8509 0.34036,1.70179 0.25527,0.8509 0.59563,1.78688 2.12724,-0.51053 4.33957,-0.93598 2.29742,-0.42545 4.50975,-0.8509 2.29742,-0.42545 4.42466,-0.93598 2.21233,-0.59563 4.0843,-1.44653 0.8509,-0.42545 1.61671,-0.85089 0.85089,-0.42545 1.53161,-1.02108 z m -7.99843,46.11858 q 0,-2.63778 -1.6167,-7.06244 -1.53161,-4.33957 -3.82903,-9.61513 -2.21233,-5.19047 -4.67993,-10.97656 -2.4676,-5.7861 -4.1694,-11.40201 -2.12724,0.68072 -3.99921,1.70179 -1.87197,1.10617 -3.2334,2.63778 -1.36144,1.6167 -2.21233,3.74394 -0.76581,2.21233 -0.76581,5.27556 0,2.63778 1.02107,5.7861 1.02108,3.14831 2.72287,6.29663 1.78688,3.2334 3.99921,6.21154 2.29742,3.06323 4.76502,5.36065 2.4676,2.29742 5.02029,3.65885 2.55269,1.44653 4.85011,1.44653 1.19126,0 1.6167,-0.8509 0.51054,-0.76581 0.51054,-2.21233 z" class="path6" stroke-width="3" fill="none"/>
//- .sign-box
//-   .signin-box
//-     h2.title 登录
//-       span.iconfont.icon-close
//-     form(action="/user/signin", method="post",autocomplete="off")
//-       .email-phone
//-         input(type="text",placeholder="邮箱/手机",name="email_phone",autocomplete="off")
//-       .password
//-         input(type="password",placeholder="密码（不少于6位）",autocomplete="off",name="password")
//-       input(type='hidden', name='_csrf', value=csrf,class="csrf")
//-       .signin-btn 登录
//-     .prompt-box 没有账号
//-       span.sign-up 注册
//-       span.lose-password 忘记密码？
//-     .quick-login
//-       .line
//-       .text 快捷登录
//-       .line
//-     .quick-login-icon
//-       span.iconfont.icon-qq
//-       span.iconfont.icon-github
//-       span.iconfont.icon-weixin
//-       span.iconfont.icon-weibo
//-   .signup-box
//-     h2.title 注册
//-       span.iconfont.icon-close
//-     form(action="/user/signup", method="post",autocomplete="off")
//-       .username
//-         input(type="text",placeholder="昵称",autocomplete="off",maxlength="20",name="username",required)
//-       .email-phone
//-         input(type="text",placeholder="邮箱/手机",autocomplete="off",name="email_phone",required)
//-       .password
//-         input(type="password",placeholder="密码（不少于6位）",autocomplete="new-password",name="password",required)
//-       input(type='hidden', name='_csrf', value=csrf,class="csrf")
//-       .signup-btn 注册
//-     .prompt-box
//-       span.sign-in 已有账号登录
//-     .quick-login
//-       .line
//-       .text 快捷登录
//-       .line
//-     .quick-login-icon
//-       span.iconfont.icon-qq
//-       span.iconfont.icon-github
//-       span.iconfont.icon-weixin
//-       span.iconfont.icon-weibo