header.header#header
    canvas#canvas
    ul.nav-bar#nav-bar
      li.nav-bar-item 
        svg(height="40",width="150",xmlns="http://www.w3.org/2000/svg")
          rect(height="40",width="150" class="item-rect")
        .item-text 首页
      li.nav-bar-item 
        svg(height="40",width="150",xmlns="http://www.w3.org/2000/svg")
          rect(height="40",width="150" class="item-rect")
        .item-text 前端技术
      li.nav-bar-item 
        svg(height="40",width="150",xmlns="http://www.w3.org/2000/svg")
          rect(height="40",width="150" class="item-rect")
        .item-text 生活与电影
      li.nav-bar-item 
        svg(height="40",width="150",xmlns="http://www.w3.org/2000/svg")
          rect(height="40",width="150" class="item-rect")
        .item-text 关于博主