@import '../static/font/iconfont.css';
.clearfix:after {
  content: '.';
  height: 0;
  visibility: hidden;
  clear: both;
  overflow: hidden;
}
@-moz-keyframes draw-nav-item {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}
@-webkit-keyframes draw-nav-item {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}
@-o-keyframes draw-nav-item {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}
@keyframes draw-nav-item {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}
body {
  background: #d3dce6;
}
ul {
  list-style: none;
  padding: 0;
}
.header {
  height: 100px;
  width: 100%;
  background-color: #000;
  position: relative;
}
.header #canvas {
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  transform: translateX(-50%);
}
.header .nav-box {
  width: 1180px;
  margin: 0 auto;
  position: relative;
}
.header .nav-bar {
  height: 40px;
  line-height: 40px;
  font-size: 0;
  text-align: center;
  padding-top: 30px;
}
.header .nav-bar .nav-bar-item {
  font-size: 16px;
  color: #fff;
  display: inline-block;
  height: 40px;
  width: 150px;
  position: relative;
  cursor: pointer;
}
.header .nav-bar .nav-bar-item .item-rect {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  stroke: #19f6e8;
}
.header .nav-bar .nav-bar-item:hover .item-rect {
  -webkit-animation: 0.5s draw-nav-item linear forwards;
  animation: 0.5s draw-nav-item 0% linear forwards;
}
.header .nav-bar .nav-bar-item .item-text {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.header .search-box {
  height: 40px;
  width: 200px;
  line-height: 40px;
  position: absolute;
  right: 10px;
  top: 30px;
  color: #8492a6;
  font-size: 14px;
}
.header .search-box input {
  width: 100%;
  border: none;
  height: 20px;
  background: none;
  outline: none;
  border-bottom: 1px solid #8492a6;
  padding: 0 12px 0 2px;
  color: #8492a6;
  box-sizing: border-box;
}
.header .search-box .icon-search {
  position: absolute;
  right: 0px;
  cursor: pointer;
}
.header .search-box .icon-search:hover {
  color: #fff;
}
.main-container {
  width: 1180px;
  margin: 20px auto 30px;
  display: flex;
}
.main-container .left-content {
  flex: 1;
  background-color: #fff;
  padding: 30px 20px;
}
.main-container .left-content .article-item {
  border-bottom: 1px dashed #8492a6;
  position: relative;
  margin-bottom: 20px;
}
.main-container .left-content .article-item .article-title {
  font-size: 24px;
  font-weight: 700;
  border-left: 5px solid #20a0ff;
  height: 40px;
  line-height: 40px;
  padding-left: 30px;
  margin: 0;
}
.main-container .left-content .article-item .top-status {
  font-size: 12px;
  padding-bottom: 10px;
  margin: 10px 0;
  border-bottom: 1px dashed #8492a6;
  color: #99a9bf;
}
.main-container .left-content .article-item .top-status span {
  margin-right: 20px;
}
.main-container .left-content .article-item .article-abstract {
  font-size: 16px;
  line-height: 24px;
  background: -webkit-gradient(linear, 0 top, 0 center, from(rgba(255,255,255,0)), to(#fff));
}
.main-container .left-content .article-item .article-footer {
  height: 30px;
  margin-top: 20px;
}
.main-container .left-content .article-item .article-footer .label-box {
  height: 16px;
  font-size: 0;
}
.main-container .left-content .article-item .article-footer .label-box .iconfont {
  color: #ccc;
  display: inline-block;
  padding: 0 10px 0 0;
  line-height: 16px;
}
.main-container .left-content .article-item .article-footer .label-box .label-item {
  display: inline-block;
  color: #ccc;
  font-size: 12px;
  line-height: 16px;
  margin-right: 10px;
  cursor: pointer;
}
.main-container .left-content .article-item .article-footer .label-box .label-item:hover {
  color: #29b4f0;
}
.main-container .left-content .article-item .article-footer .read-total {
  position: absolute;
  right: 20px;
  bottom: 15px;
  background-color: #20a0ff;
  border-radius: 4px;
  padding: 8px 15px;
  color: #fff;
  cursor: pointer;
}
.main-container .right-side {
  flex: 0 0 300px;
  margin-left: 30px;
}
.main-container .right-side .login-box {
  height: 300px;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
}
.main-container .right-side .login-box .username,
.main-container .right-side .login-box .password {
  font-size: 0;
  margin-bottom: 15px;
}
.main-container .right-side .login-box .username input,
.main-container .right-side .login-box .password input {
  height: 30px;
  border-radius: 4px;
  border: 1px solid #d3dce6;
  padding: 0 10px;
  vertical-align: middle;
  margin-left: 15px;
  outline: none;
  background-color: #fff;
  width: 195px;
  box-sizing: border-box;
  display: inline-block;
  font-size: 14px;
}
.main-container .right-side .login-box .username input:focus,
.main-container .right-side .login-box .password input:focus {
  border: 1px solid #20a0ff;
}
.main-container .right-side .login-box .username label,
.main-container .right-side .login-box .password label {
  display: inline-block;
  font-size: 16px;
  color: #475669;
  height: 30px;
  width: 50px;
  line-height: 30px;
  vertical-align: middle;
}
.main-container .right-side .login-box .login-btn {
  background-color: #20a0ff;
  height: 30px;
  border-radius: 4px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 20px;
}
.main-container .right-side .login-box .lose-password {
  font-size: 12px;
  text-align: right;
  cursor: pointer;
  color: #20a0ff;
  margin-bottom: 20px;
}
.main-container .right-side .login-box .quick-login {
  display: flex;
}
.main-container .right-side .login-box .quick-login .line {
  border-bottom: 1px solid #475669;
  position: relative;
  flex: 1;
  top: -6px;
}
.main-container .right-side .login-box .quick-login .text {
  display: inline-block;
  padding: 0 10px;
  color: #475669;
  font-size: 14px;
}
.main-container .right-side .login-box .quick-login-icon {
  margin-top: 20px;
  font-size: 0;
}
.main-container .right-side .login-box .quick-login-icon .iconfont {
  display: inline-block;
  font-size: 40px;
  color: #20a0ff;
  margin-right: 25px;
  cursor: pointer;
}
.main-container .right-side .login-box .quick-login-icon .iconfont:last-child {
  margin-right: 0;
}
.main-container .right-side .tag-box {
  height: 300px;
  background-color: #fff;
  margin-top: 20px;
}
.main-container .right-side .hot-article {
  background-color: #fff;
  margin-top: 20px;
  padding: 20px;
}
.main-container .right-side .hot-article .title {
  font-size: 16px;
  line-height: 32px;
  border-bottom: 1px dashed #8492a6;
}
.main-container .right-side .hot-article .hot-article-list {
  font-size: 16px;
  padding: 8px 2px;
  cursor: pointer;
}
.main-container .right-side .hot-article .hot-article-list .list-link {
  display: block;
  width: 170px;
  color: #8492a6;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  float: left;
  text-decoration: none;
}
.main-container .right-side .hot-article .hot-article-list .list-link:hover {
  color: #20a0ff;
}
.main-container .right-side .hot-article .hot-article-list .read-amount {
  float: right;
  width: 60px;
  font-size: 12px;
  color: #888;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main-container .right-side .hot-article .hot-article-list .read-amount .iconfont {
  font-size: 12px;
  margin-right: 4px;
  color: #888;
}
.footer {
  height: 80px;
  background: #475669;
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 80px;
}
.tool-bar {
  position: fixed;
  right: 20px;
  width: 40px;
  bottom: 100px;
  text-align: center;
}
.tool-bar.top {
  bottom: 200px;
  opacity: 0;
  transition: 0.5s all cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.tool-bar .iconfont {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #20a0ff;
  font-size: 40px;
  cursor: pointer;
}
.list-container {
  width: 850px;
  background-color: #fff;
  box-sizing: border-box;
}
.list-container .article-list-content-item {
  font-size: 14px;
  color: #333;
  height: 21px;
  line-height: 21px;
  padding: 8px 0;
  border-bottom: 1px dashed #8492a6;
}
.list-container .article-list-content-item .title-text {
  float: left;
  cursor: pointer;
}
.list-container .article-list-content-item .title-text:hover {
  color: #20a0ff;
}
.list-container .article-list-content-item .item-info {
  float: right;
  font-size: 12px;
  color: #ccc;
}
.list-container .article-list-content-item .item-info span {
  margin-left: 10px;
}
