@import '../static/font/iconfont.css';
.clearfix:after {
  content: '.';
  height: 0;
  visibility: hidden;
  clear: both;
  overflow: hidden;
}
@-moz-keyframes draw-nav-item {
  0% {
    stroke-dasharray: 100, 600;
    stroke-dashoffset: -215;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 400;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}
@-webkit-keyframes draw-nav-item {
  0% {
    stroke-dasharray: 100, 600;
    stroke-dashoffset: -215;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 400;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}
@-o-keyframes draw-nav-item {
  0% {
    stroke-dasharray: 100, 600;
    stroke-dashoffset: -215;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 400;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}
@keyframes draw-nav-item {
  0% {
    stroke-dasharray: 100, 600;
    stroke-dashoffset: -215;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 400;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}
@-moz-keyframes offset {
  to {
    stroke-dashoffset: 0px;
  }
}
@-webkit-keyframes offset {
  to {
    stroke-dashoffset: 0px;
  }
}
@-o-keyframes offset {
  to {
    stroke-dashoffset: 0px;
  }
}
@keyframes offset {
  to {
    stroke-dashoffset: 0px;
  }
}
body {
  background: #f4f5f5;
}
html,
body {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  word-break: break-word;
  color: #363636;
  position: relative;
  overflow-y: auto;
  min-height: 100%;
}
html {
  height: 100%;
}
ul {
  list-style: none;
  padding: 0;
}
.CodeMirror,
.CodeMirror-scroll {
  min-height: 100px;
}
.mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 300;
  display: none;
  background-color: rgba(0,0,0,0.4);
}
.message-box {
  height: 40px;
  background-color: #fff;
  border-radius: 2px;
  min-width: 250px;
  line-height: 40px;
  position: fixed;
  top: -50px;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  font-size: 0;
  transition: top 0.3s linear;
  z-index: 350;
  overflow: hidden;
  color: #8391a5;
  box-sizing: border-box;
  display: flex;
  box-shadow: 0 0 0 2px 4px rgba(0,0,0,0.12) #99a9bf;
}
.message-box.show {
  top: 20px;
}
.message-box span {
  font-size: 14px;
  display: inline-block;
}
.message-box .iconfont {
  flex: 0 0 40px;
  text-align: center;
  line-height: 40px;
}
.message-box .iconfont.icon-success {
  color: #fff;
  background-color: #13ce66;
}
.message-box .iconfont.icon-info {
  color: #fff;
  background: #20a0ff;
}
.message-box .iconfont.icon-fail {
  color: #fff;
  background-color: #ff4949;
}
.message-box .content {
  flex: 1;
  padding-left: 10px;
}
.sign-box {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 400;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
}
.sign-box.show {
  visibility: visible;
  top: 50%;
  opacity: 1;
}
.signin-box,
.signup-box {
  display: none;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  width: 320px;
  border-radius: 2px;
}
.signin-box .title,
.signup-box .title {
  text-align: center;
  margin: 10px 0 10px;
  font-size: 20px;
  font-weight: 600;
}
.signin-box input,
.signup-box input {
  height: 40px;
  border-radius: 2px;
  border: 1px solid #d3dce6;
  padding: 0 10px;
  vertical-align: middle;
  outline: none;
  background-color: #fff;
  width: 100%;
  margin-bottom: 15px;
  box-sizing: border-box;
  overflow: hidden;
  display: inline-block;
  font-size: 14px;
}
.signin-box input:focus,
.signup-box input:focus {
  border: 1px solid #20a0ff;
}
.signin-box .signin-btn,
.signup-box .signin-btn,
.signin-box .signup-btn,
.signup-box .signup-btn {
  background-color: #20a0ff;
  height: 40px;
  border-radius: 2px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  margin: 5px 0 15px;
}
.signin-box .prompt-box,
.signup-box .prompt-box {
  font-size: 14px;
  margin-bottom: 10px;
  color: #8b9196;
}
.signin-box .prompt-box .lose-password,
.signup-box .prompt-box .lose-password {
  cursor: pointer;
  color: #20a0ff;
  float: right;
}
.signin-box .prompt-box .sign-up,
.signup-box .prompt-box .sign-up {
  cursor: pointer;
  color: #20a0ff;
  margin-left: 10px;
}
.signin-box .prompt-box .sign-in,
.signup-box .prompt-box .sign-in {
  display: block;
  cursor: pointer;
  color: #20a0ff;
  text-align: center;
}
.signin-box .quick-login,
.signup-box .quick-login {
  display: flex;
}
.signin-box .quick-login .line,
.signup-box .quick-login .line {
  border-bottom: 1px solid #475669;
  position: relative;
  flex: 1;
  top: -6px;
}
.signin-box .quick-login .text,
.signup-box .quick-login .text {
  display: inline-block;
  padding: 0 10px;
  color: #475669;
  font-size: 14px;
}
.signin-box .quick-login-icon,
.signup-box .quick-login-icon {
  margin-top: 20px;
  display: flex;
}
.signin-box .quick-login-icon .iconfont,
.signup-box .quick-login-icon .iconfont {
  flex: 1;
  font-size: 40px;
  color: #20a0ff;
  margin: 0 10px;
  cursor: pointer;
}
.header {
  height: 100px;
  width: 100%;
  background-color: #000;
  position: relative;
}
.header #canvas {
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  transform: translateX(-50%);
}
.header .nav-box {
  width: 1180px;
  margin: 0 auto;
  height: 100px;
  position: relative;
}
.header .nav-box .motto {
  position: absolute;
  color: #fff;
  left: 170px;
  bottom: 15px;
  font-size: 20px;
  z-index: 1000;
}
.header .nav-bar {
  height: 40px;
  line-height: 40px;
  font-size: 0;
  text-align: center;
  padding-top: 30px;
  position: absolute;
  right: 180px;
}
.header .nav-bar .nav-bar-item {
  font-size: 16px;
  color: #fff;
  display: inline-block;
  height: 40px;
  width: 150px;
  position: relative;
  cursor: pointer;
}
.header .nav-bar .nav-bar-item .item-rect {
  fill: transparent;
  stroke-dasharray: 100, 600;
  stroke-dashoffset: -215;
  stroke-width: 6px;
  stroke: #19f6e8;
  transition: all 0.5s linear;
}
.header .nav-bar .nav-bar-item:hover .item-rect {
  stroke-dasharray: 400;
  stroke-dashoffset: 0;
  stroke-width: 2px;
}
.header .nav-bar .nav-bar-item .item-text {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  color: #fff;
  text-decoration: none;
  transform: translate3d(-50%, -50%, 0);
}
.header .right-box {
  display: flex;
  position: absolute;
  right: 10px;
  top: 30px;
  height: 40px;
  color: #fff;
  line-height: 40px;
  width: 150px;
}
.header .right-box span {
  text-align: center;
  cursor: pointer;
}
.header .right-box span:first-child {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.header .right-box span:last-child {
  flex: 0 0 50px;
}
.header .search-box {
  height: 40px;
  width: 150px;
  line-height: 40px;
  position: absolute;
  right: 130px;
  top: 40px;
  color: #8492a6;
  font-size: 14px;
}
.header .search-box input {
  width: 100%;
  border: none;
  height: 20px;
  background: none;
  outline: none;
  border-bottom: 1px solid #8492a6;
  padding: 0 12px 0 2px;
  color: #8492a6;
  box-sizing: border-box;
}
.header .search-box input:focus {
  color: #fff;
  text-decoration: none;
}
.header .search-box .icon-search {
  position: absolute;
  right: 0px;
  cursor: pointer;
}
.header .search-box .icon-search:hover {
  color: #fff;
}
.header .logo {
  width: 150px;
  height: 90px;
  position: absolute;
  left: 0;
}
.header .logo svg {
  height: 100%;
  width: 100%;
}
.header .logo svg path {
  stroke: #0ff;
  stroke-width: 3px;
  animation: offset 5s linear forwards;
  stroke-dasharray: 900px;
  stroke-dashoffset: 900px;
}
.main-container {
  width: 1180px;
  margin: 20px auto 250px;
  overflow: hidden;
}
.main-container .left-content {
  width: 850px;
  float: left;
  overflow: hidden;
  background-color: #fff;
  opacity: 0;
  transition: all 0.5s;
  transform: scale(0.8);
  transform-origin: center;
}
.main-container .left-content.show {
  opacity: 1;
  transform: scale(1);
}
.main-container .left-content .article-page {
  padding: 15px 20px 15px;
}
.main-container .left-content .article-page .article-header .article-title {
  font-size: 20px;
  margin-top: 10px;
  font-weight: 600;
  margin-bottom: 10px;
}
.main-container .left-content .article-page .article-header .article-status {
  font-size: 12px;
  padding-bottom: 10px;
  margin: 0;
  border-bottom: 1px dashed #8492a6;
  color: #99a9bf;
}
.main-container .left-content .article-page .article-header .article-status span {
  margin-right: 20px;
}
.main-container .left-content .article-page .article-footer {
  margin-top: 40px;
  color: #404040;
}
.main-container .left-content .article-page .article-footer .footer-page {
  padding: 15px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  font-size: 0;
}
.main-container .left-content .article-page .article-footer .footer-page a {
  text-decoration: none;
  color: #29b4f0;
  font-size: 16px;
}
.main-container .left-content .article-page .article-footer .footer-page a.prev {
  display: inline-block;
  width: 50%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.main-container .left-content .article-page .article-footer .footer-page a.next {
  display: inline-block;
  width: 50%;
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.main-container .left-content .article-list {
  padding: 20px;
  margin: 0;
}
.main-container .left-content .article-list .article-item {
  border-bottom: 1px dashed #8492a6;
  position: relative;
  margin-bottom: 20px;
}
.main-container .left-content .article-list .article-item .article-title {
  font-size: 20px;
  font-weight: 600;
  border-left: 5px solid #20a0ff;
  height: 30px;
  line-height: 30px;
  padding-left: 20px;
  margin: 0;
}
.main-container .left-content .article-list .article-item .top-status {
  font-size: 12px;
  padding-bottom: 10px;
  margin: 10px 0;
  border-bottom: 1px dashed #8492a6;
  color: #99a9bf;
}
.main-container .left-content .article-list .article-item .top-status span {
  margin-right: 20px;
}
.main-container .left-content .article-list .article-item .article-abstract {
  font-size: 16px;
  line-height: 24px;
  background: -webkit-gradient(linear, 0 top, 0 center, from(rgba(255,255,255,0)), to(#fff));
}
.main-container .left-content .article-list .article-item .article-footer {
  height: 30px;
  margin-top: 20px;
}
.main-container .left-content .article-list .article-item .article-footer .label-box {
  height: 16px;
  font-size: 0;
}
.main-container .left-content .article-list .article-item .article-footer .label-box .iconfont {
  color: #ccc;
  display: inline-block;
  padding: 0 10px 0 0;
  line-height: 16px;
}
.main-container .left-content .article-list .article-item .article-footer .label-box .label-item {
  display: inline-block;
  color: #ccc;
  font-size: 12px;
  line-height: 16px;
  margin-right: 10px;
  cursor: pointer;
  text-decoration: none;
}
.main-container .left-content .article-list .article-item .article-footer .label-box .label-item:hover {
  color: #20a0ff;
}
.main-container .left-content .article-list .article-item .article-footer .read-total {
  position: absolute;
  right: 20px;
  bottom: 15px;
  border: 1px solid #20a0ff;
  color: #20a0ff;
  border-radius: 4px;
  text-decoration: none;
  padding: 8px 15px;
  cursor: pointer;
  transition: all 0.5s;
}
.main-container .left-content .article-list .article-item .article-footer .read-total:hover {
  background: #20a0ff;
  color: #fff;
}
.main-container .left-content .pagination {
  height: 50px;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  line-height: 50px;
  margin: 0 20px 40px;
}
.main-container .left-content .pagination a {
  color: #20a0ff;
  text-decoration: none;
}
.main-container .left-content .pagination a.prev-page {
  float: left;
}
.main-container .left-content .pagination a.next-page {
  float: right;
}
.main-container .left-content .pagination a:hover {
  text-decoration: underline;
}
.main-container .right-side {
  float: left;
  width: 300px;
  margin-left: 30px;
  opacity: 0;
  transform: translateY(-100px);
  transition: all 0.5s;
}
.main-container .right-side.show {
  opacity: 1;
  transform: translateY(0);
}
.main-container .right-side .tag-box {
  height: 300px;
  background-color: #fff;
}
.main-container .right-side .hot-article {
  background-color: #fff;
  margin-top: 20px;
  padding: 20px;
}
.main-container .right-side .hot-article .title {
  font-size: 14px;
  line-height: 32px;
  margin: 0;
  border-bottom: 1px dashed #8492a6;
}
.main-container .right-side .hot-article .hot-article-list {
  font-size: 16px;
  padding: 8px 2px;
  cursor: pointer;
  margin: 0;
}
.main-container .right-side .hot-article .hot-article-list .hot-article-list-item {
  line-height: 24px;
}
.main-container .right-side .hot-article .hot-article-list .list-link {
  display: block;
  width: 170px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  float: left;
  text-decoration: none;
  transition: all 0.5s;
}
.main-container .right-side .hot-article .hot-article-list .list-link:hover {
  color: #20a0ff;
  transform: translateX(10px);
}
.main-container .right-side .hot-article .hot-article-list .read-amount {
  float: right;
  width: 60px;
  font-size: 12px;
  color: #c2c2c2;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main-container .right-side .hot-article .hot-article-list .read-amount .iconfont {
  font-size: 14px;
  margin-right: 4px;
  color: #888;
}
.footer {
  height: 200px;
  background: #fff;
  font-size: 16px;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.footer .content {
  width: 1180px;
  height: 100%;
  margin: 0 auto;
  padding: 20px 0;
  box-sizing: border-box;
}
.footer .left {
  width: 50%;
  display: inline-block;
}
.footer .left a {
  display: inline-block;
  width: 120px;
  margin-right: 20px;
  background-color: #eee;
  padding: 10px 15px;
  border-radius: 4px;
  float: left;
}
.footer .left a img {
  display: block;
  width: 100%;
}
.footer .left .logo-text {
  font-size: 30px;
  line-height: 1;
  margin: 0px 0 30px;
  padding-top: 10px;
}
.footer .left .motto {
  font-size: 16px;
}
.footer .right {
  display: inline-block;
  width: 50%;
}
.footer .right .contact {
  text-align: right;
}
.footer .right .contact .iconfont {
  font-size: 40px;
  color: #bbb;
  margin: 0 20px;
  transition: all 0.5s;
  display: inline-block;
}
.footer .right .contact .iconfont:hover {
  color: #20a0ff;
  transform: scale(1.2);
  transform-origin: center center;
  cursor: pointer;
}
.tool-bar {
  position: fixed;
  right: 20px;
  width: 40px;
  bottom: 100px;
  text-align: center;
  z-index: 2000;
}
.tool-bar.top {
  bottom: 200px;
  opacity: 0;
  transition: 0.5s all cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.tool-bar .iconfont {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #20a0ff;
  font-size: 40px;
  cursor: pointer;
  display: none;
}
.list-container {
  width: 850px;
  background-color: #fff;
  box-sizing: border-box;
}
.list-container .title {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  padding: 15px 20px;
}
.list-container .title .tag {
  float: right;
  font-size: 14px;
  color: #90979c;
}
.list-container .title .tag .tag_inner {
  color: #20a0ff;
}
.list-container .article-list-content {
  margin: 0;
}
.list-container .article-list-content-item {
  border-bottom: 1px solid rgba(178,186,194,0.15);
  padding: 15px 20px;
  font-size: 14px;
  color: #2e3135;
  cursor: pointer;
}
.list-container .article-list-content-item .article-list-content-item-title {
  margin: 0 0 15px;
}
.list-container .article-list-content-item:first-child {
  border-top: 1px solid rgba(178,186,194,0.15);
}
.list-container .article-list-content-item:hover {
  background-color: rgba(0,0,0,0.01);
}
.list-container .article-list-content-item .title-text {
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: #2e3135;
  text-decoration: none;
}
.list-container .article-list-content-item .title-text:hover {
  text-decoration: underline;
}
.list-container .article-list-content-item .item-info {
  font-size: 12px;
  color: #b2bac2;
  height: 20px;
  line-height: 20px;
}
.list-container .article-list-content-item .item-info span {
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #edeeef;
  padding: 0 6px;
  font-weight: normal;
}
.list-container .article-list-content-item .item-info span:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.list-container .article-list-content-item .item-info span:last-child {
  border-left: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.list-container .article-list-content-item .item-info .iconfont {
  font-size: 14px;
  text-align: center;
  display: inline-block;
  margin-right: 5px;
}
.comment-container {
  background-color: #f4f5f5;
  padding-top: 30px;
}
.comment-container .comment-box {
  background-color: #fff;
  border-top: 1px solid #d7d7d7;
  padding: 15px;
}
.comment-container .comment-box .bottom-bar {
  font-size: 14px;
  height: 32px;
  margin-top: 20px;
}
.comment-container .comment-box .bottom-bar .submit-comment {
  float: right;
  height: 32px;
  line-height: 32px;
  padding: 0 15px;
  border-radius: 4px;
  border: 1px solid #20a0ff;
  color: #20a0ff;
  cursor: pointer;
  background-color: #fff;
  outline: none;
}
.comment-container .comment-box .bottom-bar .submit-comment:hover {
  background-color: #20a0ff;
  color: #fff;
}
.comment-container .no-login {
  height: 40px;
  background: #fff;
  text-align: center;
  line-height: 40px;
  margin-top: 20px;
  font-size: 14px;
}
.comment-container .no-login span {
  color: #20a0ff;
  cursor: pointer;
  text-decoration: underline;
}
.comment-container .comment-list {
  background-color: #fff;
}
.comment-container .comment-list .comment-list-item {
  display: flex;
  overflow: hidden;
  padding: 10px 15px 10px 0;
  border-bottom: 1px solid #d7d7d7;
}
.comment-container .comment-list .comment-list-item:last-child {
  border-bottom: none;
}
.comment-container .comment-list .comment-list-item .avatar {
  flex: 0 0 60px;
  overflow: hidden;
  text-align: center;
  font-size: 0;
}
.comment-container .comment-list .comment-list-item .avatar img {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  display: inline-block;
}
.comment-container .comment-list .comment-list-item .content {
  flex: 1;
}
.comment-container .comment-list .comment-list-item .content .content-status {
  font-size: 12px;
  margin: 0;
  line-height: 1;
  margin: 5px 0 2px;
}
.comment-container .comment-list .comment-list-item .content .content-status .username {
  font-weight: 600;
  margin-right: 10px;
  color: #666;
}
.comment-container .comment-list .comment-list-item .content .content-status .comment-time {
  color: #20a0ff;
}
.comment-container .comment-list .comment-list-item .content .content-center {
  margin: 5px 0;
  line-height: 1.5;
}
.comment-container .comment-list .comment-list-item .content .content-center p {
  margin: 0;
}
.comment-container .comment-list .comment-list-item .content .bottom-content {
  height: 30px;
  font-size: 14px;
  line-height: 30px;
}
.comment-container .comment-list .comment-list-item .content .bottom-content .reply,
.comment-container .comment-list .comment-list-item .content .bottom-content .delete {
  float: left;
  margin-right: 20px;
  cursor: pointer;
}
.comment-container .comment-list .comment-list-item .content .bottom-content .reply:hover,
.comment-container .comment-list .comment-list-item .content .bottom-content .delete:hover {
  color: #20a0ff;
}
.comment-container .comment-list .comment-list-item .content .bottom-content .like {
  float: right;
}
.comment-container .comment-list .comment-list-item .content .bottom-content .like .iconfont {
  display: inline-block;
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
  color: #d7d7d7;
}
