body {
  background: #eee;
}
.login-container {
  width: 300px;
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -120px;
}
.login-container .login-title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.login-container input {
  width: 100%;
  padding: 0 10px;
  height: 40px;
  box-sizing: border-box;
  line-height: 30px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #d7d7d7;
  outline: none;
}
.login-container .login-btn {
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #20a0ff;
  color: #fff;
  border-radius: 4px;
}
