.clearfix:after {
  content: '.';
  height: 0;
  visibility: hidden;
  clear: both;
  overflow: hidden;
}
@-moz-keyframes draw-nav-item {
  0% {
    stroke-dasharray: 100, 600;
    stroke-dashoffset: -215;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 400;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}
@-webkit-keyframes draw-nav-item {
  0% {
    stroke-dasharray: 100, 600;
    stroke-dashoffset: -215;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 400;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}
@-o-keyframes draw-nav-item {
  0% {
    stroke-dasharray: 100, 600;
    stroke-dashoffset: -215;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 400;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}
@keyframes draw-nav-item {
  0% {
    stroke-dasharray: 100, 600;
    stroke-dashoffset: -215;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 400;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}
