@-moz-keyframes background-fade {
  0% {
    background-color: #13ce66;
  }
  50% {
    background-color: #20a0ff;
  }
  100% {
    background-color: #13ce66;
  }
}
@-webkit-keyframes background-fade {
  0% {
    background-color: #13ce66;
  }
  50% {
    background-color: #20a0ff;
  }
  100% {
    background-color: #13ce66;
  }
}
@-o-keyframes background-fade {
  0% {
    background-color: #13ce66;
  }
  50% {
    background-color: #20a0ff;
  }
  100% {
    background-color: #13ce66;
  }
}
@keyframes background-fade {
  0% {
    background-color: #13ce66;
  }
  50% {
    background-color: #20a0ff;
  }
  100% {
    background-color: #13ce66;
  }
}
