body,
html {
  height: 100%;
  width: 100%;
}
.topbar {
  height: 100px;
  background-color: #20a0ff;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
.left-side {
  width: 250px;
  height: 100%;
  padding-top: 100px;
  box-sizing: border-box;
  background-color: #324057;
  float: left;
}
.right-content {
  padding-top: 100px;
  height: 100%;
  margin-left: 250px;
  overflow: auto;
  box-sizing: border-box;
  background-color: #eee;
}
