.signin-container {
  text-align: center;
  padding: 40px 0;
}
.signin-container form {
  width: 400px;
  margin: 0 auto;
}
.signin-container input {
  border: none;
  border-bottom: 1px solid #d7d7d7;
  outline: none;
  height: 40px;
  line-height: 40px;
  width: 100%;
  border-radius: 4px;
  font-size: 14px;
  padding: 4px;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.signin-container input:first-child {
  margin-top: 20px;
}
.signin-container button {
  height: 30px;
  line-height: 30px;
  width: 100px;
  border: 1px solid #20a0ff;
  color: #20a0ff;
  border-radius: 4px;
  background: #fff;
  font-size: 14px;
  padding: 0;
  margin: 20px 0;
  box-sizing: border-box;
  cursor: pointer;
}
.signin-container .logo {
  display: inline-block;
  width: 120px;
  background-color: #eee;
  padding: 10px 15px;
  border-radius: 4px;
}
.signin-container .logo img {
  display: block;
  height: 100%;
  width: 100%;
}
