<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="../static/reset.css")
    link(rel="stylesheet", href="../stylesheets/nav.css")
    link(rel="stylesheet", href="../stylesheets/create_article.css")
    script(src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js")
    script(src="../scripts/create_article.js")
    title #{title}
  body
    .topbar
    .left-side
    .right-content
      block right_content