extends layout
block content
    include ../components/header
    .main-container
      .left-content
         .markdown-wd !{article}
      .right-side
        .login-box
          .username
            label(for="username") 用户名
            input(type="text", id="username",placeholder="请输入用户名",autocomplete="off")
          .password
            label(for="password") 密码
            input(type="password", id="password",placeholder="请输入密码",autocomplete="off")
          .login-btn 登录
          .lose-password 忘记密码？
          .quick-login
            .line
            .text 快捷登录
            .line
          .quick-login-icon
            span.iconfont.icon-qq
            span.iconfont.icon-github
            span.iconfont.icon-weixin
            span.iconfont.icon-weibo