extends layout


block content
  header.header
    ul.nav-bar
      li.nav-bar-item 首页
      li.nav-bar-item 前端技术
      li.nav-bar-item 生活与电影
      li.nav-bar-item 关于博主
  .main-container
    .left-content
      ul.article-list
        li
          .article-item
            h2.article-title Est quos illo est hic itaque dolores optio.
            p.pulish-time 
              span 日期：
            .article-abstract
              |Non sit molestiae dolore rerum voluptatem. Voluptatem omnis delectus. Eveniet corrupti dolorem repellendus nihil tempora.Est culpa incidunt fugit suscipit in ducimus. Asperiores vero dolor labore in nostrum vitae consequuntur quia.
            .article-footer
              .label-box
                i.iconfont.icon-label
                span.label-item vue
                span.label-item css3
                span.label-item vue-router
              .read-total 阅读全文
            .tag
              span 新
        li
          .article-item
            h2.article-title Est quos illo est hic itaque dolores optio.
            p.pulish-time 
              span 日期：
            .article-abstract
              |Non sit molestiae dolore rerum voluptatem. Voluptatem omnis delectus. Eveniet corrupti dolorem repellendus nihil tempora.Est culpa incidunt fugit suscipit in ducimus. Asperiores vero dolor labore in nostrum vitae consequuntur quia.
            .article-footer
              .label-box
                i.iconfont.icon-label
                span.label-item vue
                span.label-item css3
                span.label-item vue-router
              .read-total 阅读全文
            .tag
              span 新
        li
          .article-item
            h2.article-title Est quos illo est hic itaque dolores optio.
            p.pulish-time 
              span 日期：
            .article-abstract
              |Non sit molestiae dolore rerum voluptatem. Voluptatem omnis delectus. Eveniet corrupti dolorem repellendus nihil tempora.Est culpa incidunt fugit suscipit in ducimus. Asperiores vero dolor labore in nostrum vitae consequuntur quia.
            .article-footer
              .label-box
                i.iconfont.icon-label
                span.label-item vue
                span.label-item css3
                span.label-item vue-router
              .read-total 阅读全文
            .tag
              span 新
        li
          .article-item
            h2.article-title Est quos illo est hic itaque dolores optio.
            p.pulish-time 
              span 日期：
            .article-abstract
              |Non sit molestiae dolore rerum voluptatem. Voluptatem omnis delectus. Eveniet corrupti dolorem repellendus nihil tempora.Est culpa incidunt fugit suscipit in ducimus. Asperiores vero dolor labore in nostrum vitae consequuntur quia.
            .article-footer
              .label-box
                i.iconfont.icon-label
                span.label-item vue
                span.label-item css3
                span.label-item vue-router
              .read-total 阅读全文
            .tag
              span 新
    .right-side
      .search-box
        input(type="text", placeholder="根据关键字搜索",class="search-input")
        button.search-btn 搜索
      .login-box
        .username
          label(for="username") 用户名
          input(type="text", id="username",placeholder="请输入用户名",autocomplete="off")
        .password
          label(for="password") 密码
          input(type="password", id="password",placeholder="请输入密码",autocomplete="off")
        .login-btn 登录
        .lose-password 忘记密码？
        .quick-login
          .line
          .text 快捷登录
          .line
        .quick-login-icon
          span.iconfont.icon-qq
          span.iconfont.icon-github
          span.iconfont.icon-weixin
          span.iconfont.icon-weibo
  footer.footer xiaodi blog &copy 2017
  .tool-bar
    span.iconfont.icon-top
