<!DOCTYPE html>
html(lang="ch")
  head
    title #{title}
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel="stylesheet", href="/stylesheets/tagcloud.css")
    link(rel="stylesheet", href="/stylesheets/pace-theme-flash.css")
    link(rel="stylesheet", href="/stylesheets/markdown.css")
    <link rel="stylesheet" href="/stylesheets/atom-one-light.css">
    script(src="http://apps.bdimg.com/libs/highlight.js/9.1.0/highlight.min.js")
    script(src="/scripts/pace.js")
    
  body 
    block content
