<!DOCTYPE html>
html(lang="ch")
  head
    title #{title}
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel="stylesheet", href="/stylesheets/nprogress.css")
  body 
    block content
