<!DOCTYPE html>
html(lang="ch")
  head
    title ezblog博客-前端博客-前端技术，记录web前端开发的技术博客
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon" href="/favicon.ico")
    link(rel="bookmark" href="/favicon.ico")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css")
    link(rel="stylesheet", href="/stylesheets/normalize.css")
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel="stylesheet", href="/stylesheets/tagcloud.css")
    link(rel="stylesheet", href="/stylesheets/pace-theme-flash.css")
    block dynamic_css    
    script(src="/scripts/pace.js")
  body 
    include ../components/header.pug
    .main-container
      .left-content
        block content
      .right-side
        if tags
          .tag-box
            .tagcloud
              each tag in tags
                a(href="/list/tag/"+tag._id) #{tag.content}
        if hot_article_list
          .hot-article
            h2.title  热门文章
            ul.hot-article-list
              each item in hot_article_list
                li.hot-article-list.clearfix 
                  a(href="/article/"+item._id,class="list-link") #{item.title}
                  span.read-amount 
                    span.iconfont.icon-read
                    |#{item.read_amount}
    
  .tool-bar
    span.iconfont.icon-top
  include ../components/footer.pug
  script(src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js")
  block dynamic_script
  script(src="/scripts/tagcloud.js")
  script(src="/scripts/common.js")
