extends layout
block content
  include ../components/header
  .main-container
    .left-content
      .list-container
        ul.article-list-content
          li.article-list-content-item
            h3.title 
              .title-text 详解vuejs的前世来生
              .item-info
                span.pulish-time 日期：2017-08-08
                span.read-amount 阅读量：200
                span.like-amount 点赞：200
          li.article-list-content-item
            h3.title 
              .title-text 详解vuejs的前世来生
              .item-info
                span.pulish-time 日期：2017-08-08
                span.read-amount 阅读量：200
                span.like-amount 点赞：200
          li.article-list-content-item
            h3.title 
              .title-text 详解vuejs的前世来生
              .item-info
                span.pulish-time 日期：2017-08-08
                span.read-amount 阅读量：200
                span.like-amount 点赞：200
          li.article-list-content-item
            h3.title 
              .title-text 详解vuejs的前世来生
              .item-info
                span.pulish-time 日期：2017-08-08
                span.read-amount 阅读量：200
                span.like-amount 点赞：200
          li.article-list-content-item
            h3.title 
              .title-text 详解vuejs的前世来生
              .item-info
                span.pulish-time 日期：2017-08-08
                span.read-amount 阅读量：200
                span.like-amount 点赞：200
          li.article-list-content-item
            h3.title 
              .title-text 详解vuejs的前世来生
              .item-info
                span.pulish-time 日期：2017-08-08
                span.read-amount 阅读量：200
                span.like-amount 点赞：200
          li.article-list-content-item
            h3.title 
              .title-text 详解vuejs的前世来生
              .item-info
                span.pulish-time 日期：2017-08-08
                span.read-amount 阅读量：200
                span.like-amount 点赞：200
          li.article-list-content-item
            h3.title 
              .title-text 详解vuejs的前世来生
              .item-info
                span.pulish-time 日期：2017-08-08
                span.read-amount 阅读量：200
                span.like-amount 点赞：200
          li.article-list-content-item
            h3.title 
              .title-text 详解vuejs的前世来生
              .item-info
                span.pulish-time 日期：2017-08-08
                span.read-amount 阅读量：200
                span.like-amount 点赞：200
          li.article-list-content-item
            h3.title 
              .title-text 详解vuejs的前世来生
              .item-info
                span.pulish-time 日期：2017-08-08
                span.read-amount 阅读量：200
                span.like-amount 点赞：200
          li.article-list-content-item
            h3.title 
              .title-text 详解vuejs的前世来生
              .item-info
                span.pulish-time 日期：2017-08-08
                span.read-amount 阅读量：200
                span.like-amount 点赞：200
          li.article-list-content-item
            h3.title 
              .title-text 详解vuejs的前世来生
              .item-info
                span.pulish-time 日期：2017-08-08
                span.read-amount 阅读量：200
                span.like-amount 点赞：200
          li.article-list-content-item
            h3.title 
              .title-text 详解vuejs的前世来生
              .item-info
                span.pulish-time 日期：2017-08-08
                span.read-amount 阅读量：200
                span.like-amount 点赞：200
          li.article-list-content-item
            h3.title 
              .title-text 详解vuejs的前世来生
              .item-info
                span.pulish-time 日期：2017-08-08
                span.read-amount 阅读量：200
                span.like-amount 点赞：200
          li.article-list-content-item
            h3.title 
              .title-text 详解vuejs的前世来生
              .item-info
                span.pulish-time 日期：2017-08-08
                span.read-amount 阅读量：200
                span.like-amount 点赞：200
          li.article-list-content-item
            h3.title 
              .title-text 详解vuejs的前世来生
              .item-info
                span.pulish-time 日期：2017-08-08
                span.read-amount 阅读量：200
                span.like-amount 点赞：200
    .right-side
      .search-box
        input(type="text", placeholder="根据关键字搜索",class="search-input")
        button.search-btn 搜索
      .login-box
        .username
          label(for="username") 用户名
          input(type="text", id="username",placeholder="请输入用户名",autocomplete="off")
        .password
          label(for="password") 密码
          input(type="password", id="password",placeholder="请输入密码",autocomplete="off")
        .login-btn 登录
        .lose-password 忘记密码？
        .quick-login
          .line
          .text 快捷登录
          .line
        .quick-login-icon
          span.iconfont.icon-qq
          span.iconfont.icon-github
          span.iconfont.icon-weixin
          span.iconfont.icon-weibo
      .tag-box
        .tagcloud
          a(href="#") css
          a(href="#") Vue
          a(href="#") React
          a(href="#") Javascript
          a(href="#") nodejs
          a(href="#") css
          a(href="#") Vue
          a(href="#") React
          a(href="#") Javascript
          a(href="#") nodejs
          a(href="#") css
          a(href="#") Vue
          a(href="#") React
          a(href="#") Javascript
          a(href="#") nodejs
          a(href="#") css
          a(href="#") Vue
          a(href="#") React
          a(href="#") Javascript
          a(href="#") nodejs
  script(src="./scripts/tagcloud.js")
  script tagcloud({fontsize: 16, radius: 100,mspeed: "normal",ispeed: "normal", direction: 135, keep: false});